#details_container{
  height: 340px;  
  margin-left : 40px;
  margin-right : 4px;
  margin-top : 10px;
  background: white;
}

#map { 
  height: 340px;
  border: 2px solid #fff;  
}

#details_wrapper{
  height: 300px; 
  position: fixed;
  margin-left: -20px;
  padding: 10px 0px 0px 0px;
}

#details{  
  width: 140px;
  background: #fff;  
  text-align: center;
  padding: 20px;  
}

.layer {
  position: absolute;
}

.tile {
  pointer-events: none;
  position: absolute;
  width: 256px;
  height: 256px;
}

.info {
  position: absolute;
  bottom: 10px;
  left: 10px;
}